body{
    font-family: 'Poppins', sans-serif;
}
header{
    
}
.logo{
    font-size: 27px;
    font-weight: 600;
    line-height: 32.4px;
    font-style: normal;
    font-family: 'Poppins';
    background-color: aqua;
}
.nav_menu{
    background: rgb(242, 121, 121);
}


